nav.navbar.navbar-expand-lg.bg-light
  div.container-fluid
    a.navbar-brand.mr-5(href="/")
      img(style="width:52px;height:52px" src="https://us.coca-cola.com/content/dam/nagbrands/us/coke/en/coca-cola-logo.svg" width="272" height="272")
    div.collapse.navbar-collapse(id="navbarSupportedContent")
      ul.navbar-nav.me-auto.mb-2.mb-lg-0
        li.nav-item
          a.nav-link.active.btn.btn-bd-light(href="/recettes") Recettes de la maison
      ul.navbar-nav.mb-2.mb-lg-0.ms-auto.mx-3
        li.nav-item Ève