extends layout
block content
 div.px-4.pt-5.text-center
    img.d-block.mx-auto.mb-4(src="https://us.coca-cola.com/content/dam/nagbrands/us/coke/en/coca-cola-logo.svg" width="272" height="272")
    h1.display-5.fw-bold Coca-Cola
    div.col-lg-6.mx-auto
    // TODO : FLAG-H4CK1N9-C0C4-C0lA
    p.lead Centre de recherche et développement super secret

    p Plus d'information à venir...